*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


.titulo-puerta {
    margin: 3rem auto;
    padding: 0 2rem;
    max-width: 1200px;
    
}

h1 {
    color:rgba(22, 22, 22, 0.8);
    padding: 1rem;
    text-align: center;
    /*border: solid 2px green;*/
    margin: auto;
    max-width: 1200px;
}

hr {
    width: 100%;
    max-width: 1200px;
    height: 2px;
    background-color: rgba(22, 22, 22, 0.6);
    margin: auto;
}





.container {
    max-width: 1200px;
    max-height: 2200px;
    padding: 0 2rem;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 240px 500px 200px 450px;
    grid-gap: 20px;
    /*padding: 100px 0;*/
    
    /*border: solid red 2px;*/
}

.box {
    /*border:2px solid green;*/
    overflow: hidden;
}
.box img{
    width: 100%;
    height: 100%;
    /*Ver si el objet: cover no conviene hacerlo por imagen
    object-fit: cover;*/
    object-fit: cover;
    transition: 4s;
    
}

.box img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;

}


.box:nth-child(1){
    grid-column: span 2;
}

.box:nth-child(5){
    grid-column: span 3;
    
}


.box:nth-child(10), .box:nth-child(11){
    grid-column: span 2;
    
}


@media screen and (max-width:900px) {
    .container {
        
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 300px;
        
        max-width: 450px;
        max-height: 100%;
        /*border: solid orange 2px;*/
    }

    .box:nth-child(1), .box:nth-child(5), .box:nth-child(10), .box:nth-child(11){
        grid-column: span 1;
    }

    .titulo-puerta {
        margin: 2rem auto;
        max-width: 450px;
    }
    
    h1 {
        color:rgba(22, 22, 22, 0.8);
        
       font-size: 150%;
        max-width: 450px;
        /*border: 2px solid blue;*/
    }
    
    hr {
        width: 100%;
        max-width: 450px;
        height: 2px;
        
    }

    
   
}
